URL="https://your-url.ngrok-free.app"
USERNAME="ngrok-user"
TOKEN="github-token"
SECRET="github-secret"
GIT_HOST="github.com"
GIT_REPO="atlantis-playground"
REPO_ALLOWLIST="$GIT_HOST/$USERNAME/$GIT_REPO"
NGROK_AUTHTOKEN="ngrok-token"
ATLANTIS_DATA_DIR="/home/atlantis/.atlantis"
ATLANTIS_REPO_CONFIG="/home/atlantis/repos.yaml"
ATLANTIS_LOG_LEVEL="info"
AWS_ACCESS_KEY_ID=<YOUR_AWS_KEY>
AWS_SECRET_ACCESS_KEY=<YOUR_AWS_KEY_SECRET>
TG_TF_PATH=/usr/local/bin/terraform