export URL="https://your-url.ngrok-free.app"
export USERNAME="ngrok-user"
export TOKEN="github-token"
export SECRET="github-secret"
export GIT_HOST="github.com"
export GIT_REPO="atlantis-playground"
export REPO_ALLOWLIST="$GIT_HOST/$USERNAME/$GIT_REPO"
NGROK_AUTHTOKEN="ngrok-token"